<!DOCTYPE html>
<head>
  <title>Humidity Notification!</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="{{url_for('static', filename="css/styles.css")}}">
</head>
<body>
  <div class="wrapper">
    <div class="container">
      <div class="title">
        <h1> 라즈베리파이에게 습도 알림 받기!</h1>
      </div>
      <div class="container-bottom">
        <p>알림 받을 성함과 이메일 주소를 입력해주세요.</p>
        <form action="http://172.20.10.14:3000/result" method="POST">
          <table>
            <tbody>
              <tr>
                <td>이름</td>
                <td><input type="text" name="name" /></td>
              </tr>
              <tr>
                <td>이메일</td>
                <td><input type="email" name="email" /></td>
              </tr>
              <tr>
                <td colspan="2" class="submitArea">
                  <input type="submit" value="입력" class="submitBtn" />
                </td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
</body>
